# package directories
node_modules
jspm_packages

.localstack

# Serverless directories
.serverless

# Serverless webpack
.webpack

# Jest coverage reports
coverage

# OS Files
.DS_Store

# VSC settings
.vscode
.env
