@import url('./fonts/montsrrat.css');
@import url('./fonts/inter.css');
@import 'katex/dist/katex.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::selection {
        @apply bg-grey-800 text-grey-100 dark:bg-teal-700;
    }
    .scrollbar::-webkit-scrollbar {
        @apply h-2 w-0 rounded-lg bg-transparent;
    }
    .scrollbar::-webkit-scrollbar-thumb {
        @apply w-3 rounded-lg bg-teal-500;
    }
    .scrollbar-vert::-webkit-scrollbar {
        @apply w-2 rounded-lg bg-transparent;
    }
    .scrollbar-vert::-webkit-scrollbar-thumb {
        @apply rounded-lg bg-teal-500;
    }

    .custom-table table {
        @apply table-fixed;
    }
    .custom-table tr:nth-child(event) {
        @apply bg-white-50 dark:bg-grey-800;
    }
    .custom-table tr:nth-child(odd) {
        @apply bg-grey-50 dark:bg-grey-900;
    }
    .custom-table th,
    .custom-table td {
        @apply border border-teal-500 px-1 py-0 lg:px-2;
    }

    /* Defined separately as the custom table was causing errors on
    tiptap editors tables */
    .tiptap-editor table {
        @apply table-fixed;
    }
    .tiptap-editor tr:nth-child(event) {
        @apply bg-white-50;
    }
    .tiptap-editor tr:nth-child(odd) {
        @apply bg-grey-50;
    }
    .tiptap-editor th,
    .tiptap-editor td {
        @apply border border-teal-500 px-1 py-0 lg:px-2;
    }

    /* Mathematics extension styles */
    .tiptap-editor .Tiptap-mathematics-editor {
    /* .Tiptap-mathematics-editor { */
        @apply bg-grey-800 text-white-50 px-1 py-2 rounded-md;
    }

    .tiptap-editor .Tiptap-mathematics-render {
        @apply py-1 rounded-md;
    }

    .tiptap-editor .Tiptap-mathematics-render--editable {
        @apply cursor-pointer transition-colors duration-200;
    }

    .tiptap-editor .Tiptap-mathematics-render--editable:hover {
        @apply bg-grey-100;
    }
}

@layer components {
    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    textarea,
    select,
    select[multiple],
    [type='checkbox'],
    [type='radio'] {
        @apply focus:border-grey-100;
    }
}

@layer utilities {
    .arrow-clip {
        clip-path: polygon(100% 0, 0 0, 50% 100%);
    }
}

/* SVG logo */
.cls-1-dark {
    fill: #fff;
}
.cls-2-dark {
    fill: #1e232d;
}
.cls-3-dark {
    fill: #348cb2;
}
.cls-4-dark {
    fill: #4ea6cc;
}

.cls-1-light {
    fill: #fff;
}
.cls-2-light {
    fill: #1e232d;
}
.cls-3-light {
    fill: #1f4e63;
}
.cls-4-light {
    fill: #4ea6cc;
}
