{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "dynamicImport": true,
            "decorators": false
        },
        "baseUrl": "./",
        "paths": {
            "config": [
                "src/config"
            ],
            "lib/*": [
                "src/lib/*"
            ],
            "email": [
                "src/lib/email"
            ],
            "enum": [
                "src/lib/enum"
            ],
            "interface": [
                "src/lib/interface"
            ],
            "middleware": [
                "src/middleware"
            ],
            "prisma/*": [
                "prisma/*"
            ],
            "additionalInformation/*": [
                "src/components/additionalInformation/*"
            ],
            "authorization/*": [
                "src/components/authorization/*"
            ],
            "bookmark/*": [
                "src/components/bookmark/*"
            ],
            "coAuthor/*": [
                "src/components/coauthor/*"
            ],
            "crosslink/*": [
                "src/components/crosslink/*"
            ],
            "event/*": [
                "src/components/event/*"
            ],
            "flag/*": [
                "src/components/flag/*"
            ],
            "funder/*": [
                "src/components/funder/*"
            ],
            "image/*": [
                "src/components/image/*"
            ],
            "ingestLog/*": [
                "src/components/ingestLog/*"
            ],
            "integration/*": [
                "src/components/integration/*"
            ],
            "link/*": [
                "src/components/link/*"
            ],
            "pdf/*": [
                "src/components/pdf/*"
            ],
            "publication/*": [
                "src/components/publication/*"
            ],
            "publicationVersion/*": [
                "src/components/publicationVersion/*"
            ],
            "reference/*": [
                "src/components/reference/*"
            ],
            "sitemap/*": [
                "src/components/sitemap/*"
            ],
            "topic/*": [
                "src/components/topic/*"
            ],
            "topicMapping/*": [
                "src/components/topicMapping/*"
            ],
            "user/*": [
                "src/components/user/*"
            ],
            "userMapping/*": [
                "src/components/userMapping/*"
            ],
            "verification/*": [
                "src/components/verification/*"
            ]
        },
        "target": "es2020",
        "loose": false,
        "externalHelpers": false,
        "keepClassNames": false
    },
    "sourceMaps": true,
    "module": {
        "type": "commonjs",
        "strict": true,
        "strictMode": false,
        "noInterop": false,
        "lazy": false
    },
    "minify": false,
    "exclude": [
        "__tests__/", // Jest (and whatever other test runner we use) compiles these
        "prisma"
    ]
}