org: ${file(./serverless-config-default.yml):org}

service: ${file(./serverless-config-default.yml):service}

plugins:
    - serverless-prune-plugin
    - serverless-plugin-split-stacks

provider:
    name: aws
    architecture: arm64
    deploymentMethod: direct
    timeout: 29
    runtime: nodejs20.x
    region: eu-west-1
    stage: ${opt:stage}
    vpc:
        securityGroupIds:
            - ${ssm:/${self:provider.stage}_octopus_sls_sg}
        subnetIds:
            - ${ssm:/${self:provider.stage}_octopus_private_subnet_az1}
            - ${ssm:/${self:provider.stage}_octopus_private_subnet_az2}
            - ${ssm:/${self:provider.stage}_octopus_private_subnet_az3}
    environment:
        STAGE: ${self:provider.stage}
        ELASTICSEARCH_USER: ${ssm:/elasticsearch_user_${self:provider.stage}_octopus}
        ELASTICSEARCH_PASSWORD: ${ssm:/elasticsearch_password_${self:provider.stage}_octopus}
        ELASTICSEARCH_ENDPOINT: ${ssm:/elasticsearch_endpoint_${self:provider.stage}_octopus}
        ELASTICSEARCH_PROTOCOL: ${ssm:/elastic_search_protocol_${self:provider.stage}_octopus}
        DATABASE_URL: ${ssm:/db_connection_string_${self:provider.stage}_octopus}
        JWT_SECRET: ${ssm:/jwt_secret_${self:provider.stage}_octopus}
        VALIDATION_CODE_EXPIRY: 10
        VALIDATION_CODE_ATTEMPTS: 3
        ORCID_ID: ${ssm:/orcid_app_id_${self:provider.stage}_octopus}
        ORCID_SECRET: ${ssm:/orcid_secret_key_${self:provider.stage}_octopus}
        ORCID_AUTH_URL: ${ssm:/orcid_auth_url_${self:provider.stage}_octopus}
        ORCID_MEMBER_API_URL: ${ssm:/orcid_member_api_url_${self:provider.stage}_octopus}
        DOI_PREFIX: ${ssm:/doi_prefix_${self:provider.stage}_octopus}
        DATACITE_ENDPOINT: ${ssm:/datacite_endpoint_${self:provider.stage}_octopus}
        DATACITE_USER: ${ssm:/datacite_user_${self:provider.stage}_octopus}
        DATACITE_PASSWORD: ${ssm:/datacite_password_${self:provider.stage}_octopus}
        EMAIL_SENDER_ADDRESS: ${ssm:/email_sender_address_${self:provider.stage}_octopus}
        BASE_URL: ${ssm:/base_url_${self:provider.stage}_octopus}
        AUTHORISATION_CALLBACK_URL: ${ssm:/authorization_callback_url_${self:provider.stage}_octopus}
        LIST_USERS_API_KEY: ${ssm:/list_users_api_key_${self:provider.stage}_octopus}
        QUEUE_URL: ${ssm:/queue_url_${self:provider.stage}_octopus}
        SQS_ENDPOINT: ${ssm:/sqs_endpoint_${self:provider.stage}_octopus}
        MAIL_SERVER: ${ssm:/mail_server_${self:provider.stage}_octopus}
        SLACK_CHANNEL_EMAIL: ${ssm:/slack_channel_email_${self:provider.stage}_octopus}
        TRIGGER_SCRIPT_API_KEY: ${ssm:/trigger_script_api_key_${self:provider.stage}_octopus}
        INGEST_REPORT_RECIPIENTS: ${ssm:/ingest_report_recipients_${self:provider.stage}_octopus}
        PARTICIPATING_ARI_USER_IDS: ${ssm:/participating_ari_user_ids_${self:provider.stage}_octopus}
        ECS_CLUSTER_ARN: ${ssm:/ecs_cluster_arn_${self:provider.stage}_octopus}
        ECS_TASK_DEFINITION_ID: ${ssm:/ecs_task_definition_id_${self:provider.stage}_octopus}
        ECS_TASK_SECURITY_GROUP_ID: ${ssm:/ecs_task_security_group_id_${self:provider.stage}_octopus}
        PRIVATE_SUBNET_IDS: ${ssm:/${self:provider.stage}_octopus_private_subnet_az1},${ssm:/${self:provider.stage}_octopus_private_subnet_az2},${ssm:/${self:provider.stage}_octopus_private_subnet_az3}
        PUBROUTER_API_KEYS: ${ssm:/pubrouter_api_keys_${self:provider.stage}_octopus}
        PUBROUTER_FAILURE_CHANNEL: ${ssm:/pubrouter_failure_channel_${self:provider.stage}_octopus}
    deploymentBucket:
        tags:
            Project: Octopus
            Owner: 0 - 3 Years Innovation Team
            Name: Octopus API
    iamRoleStatements:
        - Effect: 'Allow'
          Action:
              - 'lambda:InvokeFunction'
              - 'ses:SendEmail'
              - 'ses:SendRawEmail'
          Resource: '*'
        - Effect: 'Allow'
          Resource: 'arn:aws:s3:::science-octopus-publishing-images-${self:provider.stage}/*'
          Action: 's3:PutObject'
        - Effect: 'Allow'
          Resource: 'arn:aws:s3:::science-octopus-publishing-pdfs-${self:provider.stage}/*'
          Action: 's3:PutObject'
        - Effect: 'Allow'
          Resource: 'arn:aws:s3:::science-octopus-publishing-sitemaps-${self:provider.stage}/*'
          Action: 's3:PutObject'
        - Effect: 'Allow'
          Resource: 'arn:aws:s3:::science-octopus-publishing-sitemaps-${self:provider.stage}'
          Action: 's3:ListBucket'
        - Effect: 'Allow'
          Resource: 'arn:aws:sqs:${aws:region}:${aws:accountId}:pdf-generation-queue-${self:provider.stage}-octopus'
          Action:
              - 'lambda:CreateEventSourceMapping'
              - 'lambda:ListEventSourceMappings'
              - 'lambda:ListFunctions'
              - 'sqs:DeleteMessage'
              - 'sqs:GetQueueAttributes'
              - 'sqs:ReceiveMessage'
              - 'sqs:SendMessage'
        # Required to trigger ECS tasks
        - Effect: 'Allow'
          Resource: "arn:aws:ecs:${aws:region}:${aws:accountId}:task-definition/${ssm:/ecs_task_definition_id_${self:provider.stage}_octopus}"
          Action: 'ecs:RunTask'
        - Effect: 'Allow'
          Resource:
              - 'arn:aws:iam::${aws:accountId}:role/octopus-ecs-task-role-${self:provider.stage}'
              - 'arn:aws:iam::${aws:accountId}:role/octopus-ecs-task-exec-role-${self:provider.stage}'
          Action: 'iam:PassRole'
custom:
    splitStacks:
        perFunction: true
        perType: false
        perGroupFunction: false
    versions:
        v1: v1
    prune:
        automatic: true
        number: 3
    scheduledAriIngestEnabled:
        int: false
        prod: false
functions:
    - ${file(./serverless-config-default.yml):functions}
    - ${file(./serverless-config-deploy.yml):functions}
package:
    patterns: ${file(./serverless-config-default.yml):package.defaultPatterns}