# Config not used locally
functions:
    generatePDFsFromQueue:
        handler: dist/src/components/sqs/handler.generatePDFs
        events:
            - sqs: 'arn:aws:sqs:${aws:region}:${aws:accountId}:science-octopus-pdf-queue-${self:provider.stage}'
        package:
            individually: true
            patterns: ${file(./serverless-config-default.yml):package.pdfFunctionPatterns}