name: API-build
on: [push]

jobs:
  build:
    if: github.repository != 'Jisc/octopus'
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node 20.x Environment
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install dependencies
        working-directory: ./api
        run: npm ci

      - name: Run tsc to check for typescript errors
        working-directory: ./api
        run: npx tsc --noemit

  prettier:
    if: github.repository != 'Jisc/octopus'
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node 20.x Environment
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install dependencies
        working-directory: ./api
        run: npm ci

      - name: Run prettier check
        working-directory: ./api
        run: npm run format:check

  eslint:
    if: github.repository != 'Jisc/octopus'
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node 20.x Environment
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install dependencies
        working-directory: ./api
        run: npm ci

      - name: Run lint
        working-directory: ./api
        run: npm run lint:check
